<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fictionstudios.morsetorch">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fictionstudios.morsetorch.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intro -->
        <activity
            android:name="com.fictionstudios.morsetorch.MainIntroActivity"
            android:theme="@style/Theme.Intro" />

        <!-- About -->
        <activity
            android:name="com.fictionstudios.morsetorch.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName="com.fictionstudios.morsetorch.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fictionstudios.morsetorch.MainActivity" />
        </activity>

        <!-- Preferences -->
        <activity
            android:name="com.fictionstudios.morsetorch.MyPreferencesActivity"
            android:label="@string/action_settings"
            android:parentActivityName="com.fictionstudios.morsetorch.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fictionstudios.morsetorch.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8453607245436940~5422620719" />
    </application>

</manifest>